.imgContainer {
    display: none;
}

.AboutInfo {
    padding: 10px;
}

.mapPlaceholder {
    border-radius: 5px;
    height: 250px;

    background-image: url("../../public/placeholder/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bannerPlaceholder {
    border-radius: 5px;
    height: 350px;

    background-image: url("../../public/placeholder/market_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    border-radius: 5px;
    height: 350px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}