.bannerPlaceholder {
    border-radius: 5px;
    height: 350px;

    background-image: url("../../public/placeholder/organisation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}