.container{
    border: 2px solid rgba(0,0,0,60%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 450px;
    width: 50%;
    padding: 10px 25px 25px 25px;
}

.dateSection {
    display: flex;
    gap: 20px;
}

.input, .label{
    width: 100%;
    display: block;
}

.editor{
    height: 100%;
    width: 100%;
}

.textarea {
    height: 100%;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 0;
}