.profile {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
}

.content {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: column;
    width: 75%;
    padding: 10px;
    column-gap: 10px;
}

.content ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.content ul li:not(:last-child) {
    margin-bottom: 5px;
}

.contentHeader {
    display: flex;
    flex-direction: column;
}

.contentHeader h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600!important;
    margin: 0;
}

.informationContainer {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}



.mapPlaceholder {
    border: 2px solid rgba(230, 230, 230, 1);
    border-radius: 10px;
    height: 100%;

    background-image: url("../../public/placeholder/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.marketBanner {
    border: 2px solid rgba(230, 230, 230, 1);
    border-radius: 20px;
    height: 20vh;

    margin: 15px 5px;

    background-image: url("../../public/placeholder/market_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid gainsboro;
}

.coverPhoto {
    height: 75%;
    width: 60%;
}

.header h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600!important;
    margin: 0;
}

.headerInfo {
    width: 60%;
}

.contentArea{
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    height: 100%;
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutInfo {
    background-color: white;
    border: 2px solid gainsboro;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    border-radius: 10px;
}


.mapContainer {
    flex-grow: 2;
    background-color: white;
    border-bottom: 2px solid gainsboro;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}